#about{
    column-gap: 65px;
    padding: 0px 20px;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    img{ 
    /*Atributo para que la imagen no se estire y cubra el tamaño especificado*/
    object-fit: cover;}
}
strong{
    font-size: $tamaño-fuente-mediana;
    color: $color-fuente-header-principal;
}
p{
    width: 85%;
    font-size: $tamaño-fuente-pequeña;
    color: $color-fuente-escritorio;
}