//Color de fondo//
$color-fondo-escritorio: #ffffc7;
$color-fondo-header: #ddc88f;

//Color de fuentes//
$color-fuente-escritorio: rgb(46, 46, 46);
$color-fuente-header-principal: #4e3300;
$color-fuente-header-secundario: #82612d; 

//Tamaño de fuente//
$tamaño-fuente-grande: 45px;
$tamaño-fuente-mediana: 30px;
$tamaño-fuente-pequeña: 18px;
